
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

header{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height:989px;
    background-image: url(./images/banner_1_name.jpg) ;
    background-repeat: no-repeat;
    background-position:center;
}

.header-container{
    
    width: 100%;
    /* padding:30px; */
    padding: 30px 30px 0px 30px;
    margin-bottom: -70px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
    z-index: 1;
}

.logo-desc-header{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.logo-header>img{
    width: 100px; 
}

.desc-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc-header>b{
    font-weight: 800;
    font-size: 18px;
}
.desc-1{
    font-weight: 500;
}
.desc-2{
    font-weight: 200;
    color: #a4bc28;
}
.menu-header{
    display: flex;
    gap: 20px;  
}
/* .menu-header>a{  */
    /* --c: #ffffff; */
    /* the height */
    /* --h: 1.4em; */
    /* The first hover effect in this article */
    /* line-height: var(--h);   */
    /* color: #0000; */
    /* overflow: hidden; */
    /* text-shadow:  */
    /* 0 calc(-1 * var(--_t, 0em)) var(--c),  */
    /* 0 calc(var(--h) - var(--_t, -1em)) #1095c1; */
  /* The second hover effect from the previous article */
    /* background:  */
    /* linear-gradient(var(--c) 0 0) no-repeat  */
    /* calc(200% - var(--_p, -2%)) 100% / 200% var(--_p, .08em); */
    /* transition: .3s var(--_s, 0s), background-position .3s calc(.3s - var(--_s, 0s)); */
    /* padding:5px; */
/* }  */

/* .menu-header>a:hover{ */
    /* --_t: var(--h); */
    /* --_p: 100%; */
    /* --_s: .3s */
/* } */
.menu-header>a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0.25em;margin: 0.25em;
    color: #fff;
    background-image: linear-gradient(#a4bc28, #a4bc28); 
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.2s ease-out;
}
.menu-header>a:hover{
    color: #a4bc28;
    text-shadow: 0 0 10px #a4bc28,
    0 0 20px #a4bc28,
    0 0 40px #a4bc28,
    0 0 80px #a4bc28,
    0 0 160px #a4bc28;
    background-size: 100% 2px, auto;
}


.menu-header>a>span{
    font-size: 18px;
}
.header-image{

    background-image: url(./images/rendupenoruann.png);
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    background-repeat: no-repeat;
    background-position:center;
}
.header-white-image{
    background-image: url(./images/whitescreen.png);
    width: 100%;
    height:300px;
    position: relative;
    top: -225px;
    /* background-repeat: no-repeat; */
    background-position: top center;
}

.header-content{
    width: 100%;
    height: 250px;
    position: absolute;
    top: 450px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    gap:350px;
    flex-wrap: wrap;
    align-items: center;
}

.header-content-left{
    width: 125px;
    height: 25px;
    transform: skewX(-40deg);
    box-shadow:1px 1px 30px 1px #a4bc28,1px 1px 1px 40px rgba(164,188,40,0.5) inset;
    padding: 25px 15px 25px 15px;
    margin: 5px 1px 3px 0px;
    border: 3px solid rgba(164,188,40,0.6);
    z-index: 1;
}
.header-content-left-inside{
    position: absolute;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(8, 255, 243, 0.6);
    box-shadow:1px 1px 30px 1px rgb(8,255,243),1px 1px 1px 40px rgba(8,255,243,0.5) inset;
}
.header-content-left-inside>b{
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
    transform: skewX(40deg);
}
.discord-mem-count{
    color: white;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    top: -20px;
    left: 20px;
    transform: skewX(40deg);
    text-shadow: 0 0 10px #a4bc28,
    0 0 20px #a4bc28,
    0 0 40px #a4bc28,
    0 0 80px #a4bc28,
    0 0 160px #a4bc28;
}
.header-content-right{
    width: 125px;
    height: 25px;
    transform: skewX(40deg);
    box-shadow:1px 1px 30px 1px #a4bc28,1px 1px 1px 40px rgba(164,188,40,0.5) inset;
    padding: 25px 15px 25px 15px;
    margin: 5px 1px 3px 0px;
    border: 3px solid rgba(164,188,40,0.6);
    z-index: 1;
}
.header-content-right-inside{
    position: absolute;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(8, 255, 243, 0.6);
    box-shadow:1px 1px 30px 1px rgb(8,255,243),1px 1px 1px 40px rgba(8,255,243,0.5) inset;
}
.header-content-right-inside>span{
    color: white;
    font-size: 10px;
    font-weight: 900;
    position: absolute;
    top: -20px;
    left: 20px;
    transform: skewX(-40deg);
    text-shadow: 0 0 10px #a4bc28,
    0 0 20px #a4bc28,
    0 0 40px #a4bc28,
    0 0 80px #a4bc28,
    0 0 160px #a4bc28;
}

.discord-fivem-button{
    width: 100px;
    height: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discord-fivem-button>a{
    padding:7px;
    transform: skewX(-40deg);
    display: flex;
    align-items: center;
    gap: 1px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(yellow, yellow); 
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.3s ease-out;
}
.discord-fivem-button>a:hover{
    color: #a4bc28;
    text-shadow: 0 0 10px #a4bc28,
    0 0 20px #a4bc28,
    0 0 40px #a4bc28,
    0 0 80px #a4bc28,
    0 0 160px #a4bc28;
    background-size: 100% 2px, auto;
}

.discord-fivem-button>a>img{
    width: 15px;
    height: 15px; 
}

.discord-fivem-button>a>span{
    margin-left: 4px;
    font-size: 12px;
}

/* Main CSS */
main{
    display: flex;
    flex-wrap: wrap;
    background-image: url(./images/bg-footer.png);
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
    height:1159px;
}

@media only screen and (max-width: 840px){
    header{
        display: flex;
        width: 100%;
        background-color: aqua;  
        
    }

    .header-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap:20px;
        margin-bottom:200px;
    }
    
    .logo-desc-header{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .logo-header>img{
        width: 75px; 
    }
    .menu-header{
        flex-direction: column;
        align-items: center;
         
    }
    .header-image{
        transform: scale(1);
    }
}